# Скомпилированные файлы Python

**pycache**/ \*.py\[cod\] \*.py,cover

# Локальная база данных SQLite

db.sqlite3 db.sqlite3-journal

# Логи Django

\*.log

# Виртуальное окружение

.venv/ venv/ env/ ENV/

# Настройки PyCharm

.idea/

# Кэш линтеров и анализаторов

.mypy_cache/ .ruff_cache/ .pytest_cache/

# Локальные настройки

local_settings.py .pypirc

# Временные файлы и кэш

\*.bak \*.swp .env